{% extends 'base_nav.html' %}
{% load static %}
{% block content %}

{% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">{{ message }}</div>
{% endfor %}

<link rel="stylesheet" type="text/css" href="{% static 'css/board/index.css' %}">

<div class="wrap">
    <div class="index-wrapper">
        <div class="header">
            <h2>Q&A 게시판</h2>
        </div>
        
        <div class="insert">
            <a href="{% url 'board:post' %}">작성하기</a>		
        </div>
        
        <div class="table-wrapper">
            <table class="table">
                <thead>
                    <tr class="table-primary">
                        <th width="90px">번호</th>
                        <th width="300px">제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                    </tr>
                </thead>

                {% for board in page_obj %}
                <tr onmouseover="this.style.background='lightgray'" onmouseout="this.style.background='white'" onclick="location.href='{% url 'board:detail' board.pk %}'">
                    <td>{{ board.pk }}</td>
                    <td>{{ board.qna_title }}</td>
                    <td>{{ board.user_id }}</td>
                    <td>{{ board.qna_date|date:'Y-m-d' }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
        <div id="paging">
            <ul class="pagination justify-content-center">

                <!-- 이전페이지 -->
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}

                <!-- 페이지리스트 -->
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?&page={{ page_number }}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- 다음페이지 -->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?&page={{ page_obj.next_page_number }}">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</div>
{% endblock %}
