{% extends 'base_nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/board/post.css' %}">

<div class="wrap">
    <div class="post-wrapper">
        <h2>글수정</h2>
        <form style="display:inline;" action="{% url 'board:update' board.pk%}" method="POST">
            {% csrf_token %}
            <div class="title">
                <input type="text" class="post_title" name="qna_title" maxlength="20" required="" id="id_title" value={{board.qna_title}}>
            </div>
            
            <div class="content">
                <textarea class="post_content" name="qna_content" cols="40" rows="10" required="" id="id_content" >{{board.qna_content}}</textarea>
            </div>

            <div class="submit">
                <input type="submit" value="수정하기">
            </div> 

            <div class="etc-wrapper">      
                <a a href="javascript:window.history.back();">뒤로가기</a>   
            <div>
        </form>  
    <div>
</div>
{% endblock %}





